<div class="siwe-auth-container">
  <h2>Sign in with Ethereum</h2>
  <p>Connect your wallet to sign in to the forum.</p>
  
        <form id="siwe-sign" method="POST" action="/discourse-siwe/callback" style="display: none;">
        </form>
  
  <div class="eth_provider_container">
    <div class="eth_provider_auth_button">
      <button 
        class="btn btn-primary btn-large siwe-auth-button" 
        type="button"
        id="siwe-auth-button"
      >
        Sign-in with Ethereum
      </button>
    </div>
  </div>
</div>
